doctype html
head
    title Cat Pics
    meta(charset="utf-8")
    link(href="style.css", rel="stylesheet", type="text/css")
body
    div.container
        div.search
            button.sbutton#big Random Cat
            button#small Random Cat
        div.catpics#carea
    script(src="https://unpkg.com/react@16/umd/react.production.min.js" crossorgin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorgin)
    script(src="script.js" type="module")
