
html{
    background-color: #FFD1E9;
    text-align: center;
    font-family: "Roboto";
}

button {
    cursor: pointer;
    border: none;
    background-color: #EAFFD2;
    color: #FFD1E9;
}

button:hover {
    background-color: #8ef038;
}

#small {
    display: none;
    position:fixed;
    right:5px;
    top:45vh;
}

.tag {
    padding: 2px;
}

.sbutton {
    padding: 5px;
    font-size: 10vh;
    height:30vh;
    width:40vw;
    margin-top: 35vh;
}

.pic {
    height:70vh;
    margin: 15vh auto 15vh auto;
}
